.faq {
  &-row {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  &-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &-title, &-text {
    padding: 10px;
    margin: 0;
  }
}
